body{
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;
    background-color:rgb(222, 199, 199);

}
.form-container {
    width: 700px;
    margin: 60px auto;
    background: rgb(239, 232, 232);
    padding: 20px 30px;
    border-radius: 100px;
    animation: slideIn 1s ease;
}
@keyframes slideIn{
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
 .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
} 
button{
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease,transform 0.2s ease;
}
button:hover{
    background-color: rgb(32, 10, 32);
    transform: scale(1.05)
}
@media (max-width: 768px){
    .form-container{
        width: 90%;
        margin: 20px auto;
        border-radius: 20px;
    }
}

