body{
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;
    background-color:rgb(222, 199, 199);

}
.form-container {
    width: 400px;
    margin: 60px auto;
    background: white;
    padding: 20px 30px;
    border-radius: 20px;
    animation: slideIn 1s ease;
}
@keyframes slideIn{
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
 .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
} 
button{
    background-color: blueviolet;
    transition: background-color 0.3s;
}
button: hover{
    background-color: purple;
}
